.images {
	width: 50%;
	margin-top: 100px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
}

.next, .prev {
	top: calc(50% - 20px);
	position: absolute;
	background: #e1e1e1;
	border: 1px solid black;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	z-index: 2;
}

.next {
	right: 20%;
    top: 40%;
}

.prev {
	left: 20%;
	top: 40%;
	transform: scale(-1);
}

.textArea {
	background-color: #e1e1e1;
	margin: 20px 15% 0 15%;
	padding: 15px;
}

#projectName {
	font-size: 40px;
}

#projectDescription {
	font-size: 20px;
}