.introduction {
	justify-content: center;
	background-color: rgb(223, 223, 223);
	margin: 100px 15% 0px 15%;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
	z-index: 4;
	opacity: 0.9;
	text-align: center;
}

div.x0 {
	font-weight: bolder;
}

#title {
	font-size: 70px;
	margin: 0 20px 0 0;
	text-decoration: underline;
}

#me {
	border: 2px gray solid;
	border-radius: 50px;
	width: 70%;
	margin: 40px;
	box-shadow: 5px 5px 5px;
}

#firstLine, #introText {
	text-align: center !important;
	font-size: 30px;
	justify-content: center;
}

#firstLine {
	margin: 40px 0 0 0;
	margin-bottom: 0px;
}

/* *** MEDIA QUERIES *** */

@media only screen and (max-width: 1388px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

	.introduction {
		margin-right: 0%;
		margin-left: 0%;
		border-radius: 0;
	}
}

@media only screen and (max-width: 500px) {

	#title {
		font-size: 50px;
		margin-right: 0;
	}

	.MuiGrid-root {
		padding: 0;
	}
	
	#introText {
		font-size: 20px;
	}

	#me {
		height: 
	}

}