.container {
	display: flex;
	flex-direction: column;
}

#mainBlock {
	position: absolute;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 2;
	height: max-content;
}

.name {
	font-size: 120px;
	text-align: left;
	margin-left: 150px;
	font-weight: 100;
}

#enterDiv {
	background-color: inherit;
	border: none;
}

#enter {
	align-self: center;
	color: cornflowerblue;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 5;
}

#enter:hover {
	transition: color 0.2s ease-in-out;
	color: #8cb9f3;
	z-index: 10;
}

#spinner {
	color: rgb(50, 46, 73);
	align-self: center;
	position: absolute;
	width: 30px;
	z-index: 2;
	left: 49%;
	top: 64%;
	pointer-events: none;
}

#role {
	text-align: right;
	align-self: flex-end;
	font-size: 60px;
	margin-right: 150px;
	font-weight: 100;
}

/* *** MEDIA QUERIES *** */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 460px) {

}
@media only screen and (max-width: 768px) {
	.name {
		font-size: 60px !important;
	}

	#role {
		font-size: 40px !important;
		margin-bottom: 50px !important;
	}

	#enter {
		width: 150px;
	}

	.fa-spinner {
		width: 12px !important;
	}

	#spinner {
		top: 55% !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.name {
		text-align: center !important;

	}

}

@media only screen and (max-width: 1388px) {
	.name {
		font-size: 100px;
		margin: 20px 20px 0 50px;
	}

	#spinner {
		left: 50%;
		top: 59%;
	}

	#enter {
		left: 13%;
	}

	#role {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}