.container {
	display: flex;
	flex-direction: column;
}

#mainBlock {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 2;
	height: max-content;
}

.name {
	font-size: 120px;
	text-align: left;
	margin-left: 150px;
	font-weight: 100;
}

#enterDiv {
	background-color: inherit;
	border: none;
}

#enter {
	align-self: center;
	color: cornflowerblue;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 5;
}

#enter:hover {
	transition: color 0.2s ease-in-out;
	color: #8cb9f3;
	z-index: 10;
}

#spinner {
	color: rgb(50, 46, 73);
	align-self: center;
	position: absolute;
	width: 30px;
	z-index: 2;
	left: 49%;
	top: 64%;
	pointer-events: none;
}

#role {
	text-align: right;
	align-self: flex-end;
	font-size: 60px;
	margin-right: 150px;
	font-weight: 100;
}

/* *** MEDIA QUERIES *** */

@media only screen and (max-width: 1388px) {
	.name {
		font-size: 100px;
		margin: 20px 20px 0 50px;
	}

	#spinner {
		left: 50%;
		top: 59%;
	}

	#enter {
		left: 13%;
	}

	#role {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.name {
		text-align: center;

	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	#mainBlock {
		height: 100%;
		width: 100%;
	}

	.name {
		font-size: 60px;
		margin-left: 20px;
	}

	#role {
		font-size: 40px;
		margin-bottom: 50px;
		margin-right: 24%;
	}

	#enter {
		width: 150px;
	}

	.fa-spinner {
		width: 12px;
	}

	#spinner {
		top: 45%;
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	#spinner {
		top: 44%; 
		left: 52%;
		width: 14px;
	}

}

@media only screen and (max-width: 340px) {
	#spinner {
		top: 38%; 
		left: 48%;
		width: 10px;
		font-size: 8px;
	}

	.name {
		font-size: 40px;
		margin-left: 0px;
	}

	#enter {
		width: 115px;
		left: 0;
	}

	#role {
		font-size: 30px;
		text-align: center;
		margin-right: 0;
	}

}