.container {
	display: flex;
	flex-direction: column;
}

#mainBlock {
	position: absolute;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 2;
}

.name {
	font-size: 120px;
	text-align: left;
	margin-left: 150px;
	font-weight: 100;
}

#enterDiv {
	background-color: inherit;
	border: none;
}

#enter {
	align-self: center;
	color: cornflowerblue;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 5;
}

#enter:hover {
	transition: color 0.2s ease-in-out;
	color: #8cb9f3;
	z-index: 10;
}

#planeDiv {
	color: rgb(50, 46, 73);
	align-self: center;
	position: absolute;
	width: 30px;
	z-index: 2;
	left: 49%;
	top: 64%;
	pointer-events: none;
}

#role {
	text-align: right;
	align-self: flex-end;
	font-size: 60px;
	margin-right: 150px;
	font-weight: 100;
}