.container {
	display: flex;
	flex-direction: column;
}

#mainBlock {
	position: absolute;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.name {
	font-size: 120px;
	text-align: left;
	margin-left: 150px;
	font-weight: 100;
}

#enterDiv {
	background-color: inherit;
	border: none;
	position: relative;
	bottom: 8%;

}

#enter {
	align-self: center;
	color: cornflowerblue;
	width: 100px;
	height: 100px;
	position: relative;
}

#enter:hover {
	transition: color 0.2s ease-in-out;
	color: #8cb9f3;

}

#role {
	text-align: right;
	align-self: flex-end;
	font-size: 60px;
	margin-right: 150px;
	font-weight: 100;
}