.container {
	display: flex;
	flex-direction: column;
}

.nameBlock, .roleBlock {
	background-color: black;
	color: white;
	width: 50%;
}

.roleBlock {
	align-self: flex-end;
}


.name {
	font-size: 120px;
	text-align: left;
	margin-left: 150px;
}

#role {
	font-size: 60px;
	text-align: right;
	margin-right: 150px;
}