#formWrapper {
	padding: 200px 15% 0 15%;
}

.formContainer {
	background-color: #e1e1e1;
	position: relative;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
	opacity: 0.9;
}

.MuiGrid-item {
	margin: 200px 15% 0 15%;
}

.MuiGrid-root {
	padding: 20px;

}
