.icons {
	font-size: 25px;
}

.MuiBottomNavigationAction-label {
	font-family: "Cabin", sans-serif !important;
	font-size: 16px;
}

/* *** MEDIA QUERIES *** */

@media only screen and (max-width: 1388px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 500px) {
	.MuiBottomNavigationAction-root {
		flex: unset !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.MuiBottomNavigationAction-label {
		font-size: 12px;
	}

	.icons {
		font-size: 20px;
	}

}