.makeStyles-root-1 {
	margin-bottom: 80px;
}

.makeStyles-gridList-3 {
	height: 550px !important;
	border-radius: 20px 0 0 20px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

.images {
	width: 50% !important;
}

/* *** MEDIA QUERIES *** */

@media only screen and (max-width: 1388px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.images {
		width: 80% !important;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 500px) {
	.makeStyles-gridList-3 {
		width: 400px;
	}

	.images {
		width: 100% !important;
	}

}