.makeStyles-root-1 {
	margin-bottom: 80px;
}

.makeStyles-gridList-2 {
	width: 800px !important;
	height: 800px !important;
	border-radius: 20px 0 0 20px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
}