body {
  background-color: whitesmoke;
  margin-bottom: 80px;
  font-family: "Cabin", sans-serif !important;
  height: 100%;
}

.App {
  text-align: center;
}

#particles {
  position: fixed !important;
  z-index: -1;
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}