.mapContainer {
	position: relative;
}

#map {
	height: 100%;
	width: 65%;
	background-color: #e1e1e1;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
	align-self: center;
	padding: 30px;
	margin-top: 100px;
	margin-bottom: 80px;
	opacity: 0.8;
}

#pin1, #pin2, #plane, #journeyText {
	position: absolute;
}

#pin1 {
    top: 23%;
    left: 46.75%;
	width: 80px;
	height: auto;
}

#pin2 {
    top: 33%;
    left: 29.75%;
	width: 80px;
	height: auto;
}

#plane {
    font-size: 100px;
	color: cornflowerblue;
    left: 32.5%;
	bottom: 51%;
	transform: rotate(165deg);
	transition: opacity 1s ease-in-out;
	animation-name: planeAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes planeAnimation {
	0% {
		left: 46%;
		bottom: 60%;
		font-size: 0;
	}
	5% {
		font-size: 100px;
	}
	40% {
		font-size: 100px;

	}
	75% {
		

	}
	100% {
		left: 32%;
		bottom: 55%;
		font-size: 0;
	}
}

#journeyText {
	font-size: 30px;
    left: 14%;
	bottom: 25%;
	background-color: darkgray;
	transition: opacity 1s ease-in-out;
	padding: 20px;
}

/* *** MEDIA QUERIES *** */

@media only screen and (max-width: 1388px) {
	#journeyText {
		width: 75%;
		left: 10%;
		bottom: 11%;
	}

	#pin1, #pin2 {
		width: 80px;
	}

	#pin1 {
		top: 23%;
		left: 45.5%;
	}

	#pin2 {
		top: 31%;
		left: 28%;	
	}

	#plane {
		font-size: 70px;
		left: 34%;
		bottom: 52%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	
	#journeyText {
		font-size: 24px;
		width: 75%;
		left: 10%;
		bottom: 11%;
	}

	#pin1, #pin2 {
		width: 60px;
	}

	#pin1 {
		top: 27%;
		left: 45%;
	}

	#pin2 {
		top: 33%;
		left: 28%;	
	}

	@keyframes planeAnimation {
		0% {
			left: 46%;
			bottom: 60%;
			font-size: 0;
		}
		5% {
			font-size: 70px;
		}
		40% {
			font-size: 70px;
	
		}
		75% {
			
	
		}
		100% {
			left: 32%;
			bottom: 55%;
			font-size: 0;
		}
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

	#journeyText {
		font-size: 18px;
		width: 75%;
		left: 7%;
		bottom: 4%;
	}

	#pin1, #pin2 {
		width: 60px;
	}

	#pin1 {
		top: 27%;
    	left: 43.5%;
	}

	#pin2 {
		top: 32%;
		left: 26%;
	}

	@keyframes planeAnimation {
		0% {
			left: 47%;
    		bottom: 57%;
			font-size: 0;
		}
		5% {
			font-size: 45px;
		}
		40% {
			font-size: 45px;
	
		}
		75% {
			
	
		}
		100% {
			left: 30%;
    		bottom: 54%;
			font-size: 0;
		}
	}
}

@media only screen and (max-width: 500px) {
	#map {
		width: 80%;
	}


	.makeStyles-root-2 {
		width: 100%;
		margin: 0;
		align-self: center;
	}

	#pin1, #pin2 {
		width: 40px;
	}

	#pin1 {
		top: 33%;
    	left: 43%;
	}

	#pin2 {
		top: 37%;
    	left: 25%;
	}

	#plane {
		font-size: 25px;
		left: 32%;
		bottom: 50%;
	}

}