.mapContainer {
	position: relative;
}

#map {
	height: 100%;
	width: 65%;
	background-color: lightblue;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
	align-self: center;
	padding: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
	opacity: 0.6;
}

#pin1, #pin2, #lines, #journeyText {
	position: absolute;
}

#pin1 {
    top: 21%;
    left: 46.75%;
	width: 80px;
	height: auto;
}

#pin2 {
    top: 31%;
    left: 29.75%;
	width: 80px;
	height: auto;
}

#lines {
    font-size: 123px;
    color: red;
    left: 32.5%;
    bottom: 53%;
    transform: rotate(350deg);
    transition: opacity 1s ease-in-out;
}

#journeyText {
	font-size: 30px;
    left: 40%;
	bottom: 25%;
	background-color: darkgray;
	transition: opacity 1s ease-in-out;
	padding: 20px;
}