.aboutMeSection {
	justify-content: center;
	background-color: rgb(223, 223, 223);
	margin: 100px 15% 0px 15%;
	border: 2px solid black;
	box-shadow: 5px 5px 5px rgb(129, 129, 129);
	border-radius: 20px 0 0 20px;
	z-index: 4;
	opacity: 0.9
}

#title {
	font-size: 70px;
}

#me {
	border: 2px gray solid;
	border-radius: 50px;
	width: 300px;
	margin: 40px;
	box-shadow: 5px 5px 5px;
}

#aboutText {
	text-align: left !important;
	font-size: 30px;
}